spring:
  application:
    name: portfolio-tracker-service

  datasource:
    url: jdbc:postgresql://localhost:5432/portfoliodb
    username: portfolio_user
    password: portfolio_pass
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

server:
  port: 8080

app:
  jwt:
    secret: c3VwZXJfc2VjcmV0X2NoYW5nZV9tZV9pbl9kZXY=
    expiration-ms: 3600000

management:
  endpoints:
    web:
      exposure:
        include: health,info
